@model Projeto.WEB.Areas.AreaRestrita.Models.CEP.CalcularLimitesViewModel
@{
    ViewBag.Title = "CalcularLimites";
    Layout = "~/Areas/AreaRestrita/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <h2>Calcular novo Limite de controle</h2>
    <hr />

    @using (Html.BeginForm())
    {
        <h4>Inserir Amostra:</h4>
        <br />

        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        <div class="row">

            <div class="col-md-2 text-center">
                @Html.LabelFor(m => m.Lote)
                @Html.TextBoxFor(m => m.Lote, new { @class = "form-control text-center", @placeholder = "Digite aqui" })
            </div>

            <div class="col-md-3 text-center">
                @Html.LabelFor(m => m.DataCriacao)
                @Html.TextBoxFor(m => m.DataCriacao, new { @class = "form-control text-center", @type = "datetime-local" })
            </div>

            <div class="col-md-3 text-center">
                @Html.LabelFor(m => m.IdOperadorCriacao)
                @Html.DropDownListFor(m => m.IdOperadorCriacao,
                                Model.ListagemOperador,
                                "- Selecione uma opção -",
                                new { @class = "form-control" })
            </div>

            <div class="col-md-3 text-center">
                @Html.LabelFor(m => m.DataAnalise)
                @Html.TextBoxFor(m => m.DataAnalise, new { @class = "form-control text-center", @type = "datetime-local" })
            </div>

        </div>

        <div class="row" style="margin-top:20px">

            <div class="col-md-3 text-center">
                @Html.LabelFor(m => m.IdOperadorAnalise)
                @Html.DropDownListFor(m => m.IdOperadorAnalise,
                                Model.ListagemOperador,
                                "- Selecione uma opção -",
                                new { @class = "form-control" })
            </div>

            <div class="col-md-2 text-center">
                @Html.LabelFor(m => m.TotaLentes)
                @Html.TextBoxFor(m => m.TotaLentes, new { @class = "form-control text-center", @placeholder = "Digite aqui", @id = "TotalLentes" })
            </div>

            <div class="col-md-2 text-center">
                @Html.LabelFor(m => m.QtdNaoConforme)
                @Html.TextBoxFor(m => m.QtdNaoConforme, new { @class = "form-control text-center", @placeholder = "Digite aqui", @id = "QtdNaoConforme" })
            </div>

            <div class="col-md-1">
                <label>% Reprov.</label><br />
                <input type="text" id="Percent" class="form-control text-center" readonly="readonly" />
            </div>

            <div class="col-md-3 text-center">
                @Html.LabelFor(m => m.Observacao)
                @Html.TextBoxFor(m => m.Observacao, new { @class = "form-control", @placeholder = "Digite Aqui" })
            </div>
            
        </div>

        <div class="row pull-right">
            <div class="col-md-2">
                <input type="submit" class="btn btn-primary" style="margin-top:24px" />
            </div>
        </div>


        <div class="row" style="margin-top:20px">
            <div class="col-md-11 text-center">

                @if (TempData["MensagemCadastro"] != null)
                {<div class="alert alert-success"> <strong>@TempData["MensagemCadastro"]</strong> </div>}

                @if (TempData["MensagemErro"] != null)
                {<div class="alert alert-danger"> <strong>@TempData["MensagemErro"]</strong> </div>}

            </div>
        </div>
        <hr />
    }

    <div class="row">
        <div class="col-md-12">

            @{
                Html.RenderAction("Consultar");
            }

        </div>
    </div>

</div>
