@model  Projeto.WEB.Areas.AreaRestrita.Models.CEP.CadastrarLoteViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AreaRestrita/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

    google.charts.load('current', { 'packages': ['corechart'] });

    $(document).ready(function () {
        $.ajax({
            type: "POST",
            url: "/AreaRestrita/CEP/LimiteAtivo",
            success: function (limite) {
                $('#lblModelo').html(limite.TipoCarta.Modelo);
                $('#lblCarta').html(limite.TipoCarta.Carta);
                $('#lblLSC').html(limite.LSC);
                $('#lblLC').html(limite.LC);
                $('#lblLIC').html(limite.LIC);
            }
        });
        
        if ($("#DataInicio").val() == "" || $("#DataFim").val == "") {
                        
            $("#DataInicio").val(DataAtual());
            $("#DataFim").val(DataAtual());
        };       
        
        $("#btnConsultar").click(function () {

            if ($('#DataInicio').val() <= $('#DataFim').val()) {
                $('#msgData').hide();
                ConsultarLotes();
            }
            else {
                $('#msgData').show();
            }

            
        });
    });

    function DataAtual() {
        var data = new Date(),
            dia = (data.getDate() < 10 ? '0' : '') + (data.getDate()),
            mes = (data.getMonth() + 1 < 10 ? '0' : '') + (data.getMonth() + 1),
            ano = data.getFullYear();
        return [ano, mes, dia].join('-');
    };
    
    function ConsultarLotes() {
        var model = {
            DataInicio: $("#DataInicio").val(),
            DataFim: $("#DataFim").val()
        };
        
        $.ajax({
            type: 'POST',
            url: '/AreaRestrita/CEP/ResultadoLotes',
            data: model,
            success:
            function (lista) {

                drawVisualization(lista);
                bindTabela(lista);

            },
            error: function (e) {
                alert(e.status);
            }
        });

    };
    
    function drawVisualization(lista) {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'DataAnalise');
        data.addColumn('number', 'LSC');
        data.addColumn('number', 'LC');
        data.addColumn('number', 'LIC');
        data.addColumn('number', 'Percentual');
        for (var i = 0; i < lista.length; i++) {
            data.addRow([lista[i].DataAnalise, lista[i].LSC, lista[i].LC, lista[i].LIC, lista[i].Percentual]);
        };
        var options = {
            fontSize: 11,
            title: 'Carta Controle',
            legend: { position: 'top' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
        chart.draw(data, options);
    }

</script>



<div class="container">
    <h3>Controle Estatístico de Processo</h3>
    <hr />

    <div class="row">
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-10">
                    <strong>Modelo: </strong><label id="lblModelo"></label> /
                    <strong>Carta: </strong><label id="lblCarta"></label> /
                    <strong>LSC: </strong><label id="lblLSC"></label> /
                    <strong>LC: </strong><label id="lblLC"></label> /
                    <strong>LIC: </strong><label id="lblLIC"></label> /
                </div>
            </div>

            <br />
            <h4>Cadastrar Lotes:</h4>
            <br />

            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                <div class="row">

                    <div class="col-md-2 text-center">
                        @Html.LabelFor(m => m.Lote)
                        @Html.TextBoxFor(m => m.Lote, new { @class = "form-control text-center", @placeholder = "Digite aqui" })
                    </div>

                    <div class="col-md-3 text-center">
                        @Html.LabelFor(m => m.DataAnalise)
                        @Html.TextBoxFor(m => m.DataAnalise, new { @class = "form-control text-center", @type = "datetime-local" })
                    </div>

                    <div class="col-md-3 text-center">
                        @Html.LabelFor(m => m.IdOperadorAnalise)
                        @Html.DropDownListFor(m => m.IdOperadorAnalise,
                                    Model.ListagemOperador,
                                    "- Selecione uma opção -",
                                    new { @class = "form-control" })
                    </div>

                </div>

                <div class="row" style="margin-top:20px">

                    <div class="col-md-2 text-center">
                        @Html.LabelFor(m => m.TotaLentes)
                        @Html.TextBoxFor(m => m.TotaLentes, new { @class = "form-control text-center", @placeholder = "Digite aqui", @id = "TotalLentes" })
                    </div>

                    <div class="col-md-2 text-center">
                        @Html.LabelFor(m => m.QtdNaoConforme)
                        @Html.TextBoxFor(m => m.QtdNaoConforme, new { @class = "form-control text-center", @placeholder = "Digite aqui", @id = "QtdNaoConforme" })
                    </div>

                    <div class="col-md-1">
                        <label>% Reprov.</label><br />
                        <input type="text" id="Percent" class="form-control text-center" readonly="readonly" />
                    </div>

                    <div class="col-md-4 text-center">
                        @Html.LabelFor(m => m.Observacao)
                        @Html.TextBoxFor(m => m.Observacao, new { @class = "form-control", @placeholder = "Digite Aqui" })
                    </div>

                    <div class="col-md-1">
                        <input type="submit" value="Enviar" class="btn btn-primary" style="margin-top:24px" />
                    </div>

                </div>


                <div class="row" style="margin-top:20px">
                    <div class="col-md-11 text-center">

                        @if (TempData["MensagemCadastro"] != null)
                        {<div class="alert alert-success"> <strong>@TempData["MensagemCadastro"]</strong> </div>}

                        @if (TempData["MensagemErro"] != null)
                        {<div class="alert alert-danger"> <strong>@TempData["MensagemErro"]</strong> </div>}

                    </div>
                </div>
                <hr />
            }
        </div>
    </div>

    <div class="row">
        
        <div class="col-md-2">
            <label>Data Inicio:</label>
            <input type="date" id="DataInicio" class="form-control" /><br />            
        </div>

        <div class="col-md-2">
            <label>Data Fim:</label>
            <input type="date" id="DataFim" class="form-control" /><br />
        </div>

        <div class="col-md-3">
            <br />
            <input type="button" value="Pesquisar" id="btnConsultar" class="btn btn-success" />
        </div>

    </div>

    <div class="row">
        <label class="text-danger" id="msgData" hidden="hidden">A data final não pode ser menor que a data inicial</label>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="curve_chart" style="height:600px"></div>
        </div>
    </div>



</div>


