@model Projeto.WEB.Models.Home.Cadastro

@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Templates/Layout.cshtml";
}

<h2>Cadastro</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Cadastro de Usuário</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col-md-4">

            @Html.LabelFor(model => model.Nome)<br />
            @Html.TextBoxFor(model => model.Nome, new
       {
           htmlAttributes =
           new { @class = "form-control", @placeholder = "Digite aqui" }
       })
            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            <br /><br />

            @Html.LabelFor(model => model.Login)<br />
            @Html.TextBoxFor(model => model.Login, new
           {
               htmlAttributes =
               new { @class = "form-control", @placeholder = "Digite aqui" }
           })
            @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
            <br /><br />


            @Html.LabelFor(model => model.Senha)<br />
            @Html.PasswordFor(model => model.Senha, new
           {
               htmlAttributes =
               new { @class = "form-control", @placeholder = "Digite aqui" }
           })
            @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
            <br /><br />


            @Html.LabelFor(model => model.SenhaConfirm)<br />
            @Html.PasswordFor(model => model.SenhaConfirm, new
           {
               htmlAttributes =
               new { @class = "form-control", @placeholder = "Digite aqui" }
           })
            @Html.ValidationMessageFor(model => model.SenhaConfirm, "", new { @class = "text-danger" })
            <br /><br />


            @Html.LabelFor(model => model.DataCadastro)<br />
            @Html.TextBoxFor(model => model.DataCadastro, new
           {
               htmlAttributes =
               new { @class = "form-control" }
           })
            @Html.ValidationMessageFor(model => model.DataCadastro, "", new { @class = "text-danger" })
            <br /><br />

            <input type="submit" value="Cadastrar Usuario" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
